@import "//fast.fonts.net/jsapi/7c3154b6-84d1-41cf-880b-8d493e275dd8.js";
/* line 1, scss/_typography.scss */
body {
  font-family: 'Garamond Prmr W01 Cap';
  font-weight: normal; }

/* line 4, scss/_typography.scss */
.white {
  color: #fff; }

/* line 7, scss/_typography.scss */
.black {
  color: #333; }

/* line 11, scss/_typography.scss */
.small {
  font-size: 0.75em; }

/* line 14, scss/_typography.scss */
.medium {
  font-size: 1.5em; }

/* line 17, scss/_typography.scss */
.large {
  font-size: 2em; }

/* line 20, scss/_typography.scss */
.xlarge {
  font-size: 3em; }

/* line 24, scss/_typography.scss */
.title {
  display: inline-block;
  margin: 0;
  font-family: 'GaramondPrmrW01-BdCap';
  font-weight: normal;
  text-transform: uppercase;
  text-decoration: none; }
