button{
	outline: none;
	background-color: transparent;
	border: none;
}

.button{
	position: relative;
	display: inline-block;
	padding: 0.7em 1.4em;
	@include garamond-bold;
	text-transform: uppercase;
	text-decoration: none;
	letter-spacing:1px;
	@include border-radius(2px);
	@include transition(all,.3s);

	&.primary{
		color: #000;
		background-color: #fff;
		border: 1px solid #fff;
		
		&:hover{
			color: #fff;
			background-color: #573168;
			border: 1px solid #573168;
		}
	}

	&.secondary{
		color: #000;
		border: 1px solid #000;
		@include border-radius(0);

		&:hover{
			color: #fff;
			background-color: #000;
		}
	}

	&.download{
		padding-right: 3em;
		color: #fff;
		background-color: #503B5A;
		border: 1px solid #503B5A !important;

		&:hover{
			background-color: #573169;
			border: 1px solid #573169 !important;
		}

		&:after{
			position: absolute;
			top: 0.4em;
			right:0.5em;
			display: inline-block;
			content: "\f0f6";
			font-size: 1.4em;
			@extend [class*=" icon-"];
		}
	}

	&.cta{
		color: #fff;
		background-color: #2ecc71;
		border:1px solid #27ae60;

		&:hover{
			background-color: #27ae60;
			border: 1px solid #27ae60;
		}
	}

	&.booking{
		color: #fff;
		background-color: #004A09;
		border: none;

		&:hover{
			background-color: #27ae60;
		}
	}
	
	&.small{
		font-size: 0.75em;
	}
	&.med{
		font-size: 1.125em;
	}
	&.large{
		font-size: 1.5em;
	}

	&.margin{
		margin-left: 1em;
		&:first-child{
			margin-left: 0;
		}
	}
}
%cart-functions{
	border: 1px solid #A268BE !important;
	@include transition(all,.3s);

	&:hover{
		color: #fff;
		background-color: #A268BE;
	}
}