fieldset{
	margin:0 0 1em 0;
	padding: 0;
	border: none;
}

label{
	display: block;
	font-size: 0.8em;
	@include playfair;
	font-weight: 300;
	letter-spacing: 2px;
	text-transform: uppercase;
}

input[type="text"], input[type="password"]{
	@extend .small;
	width: 100%;
	max-width: 320px;
	margin-bottom: 0.5em;
	padding: 0.5em;
	color: #9d9d9d;
	background-color: #f6f6f6;
	border: 2px solid #949494;
	@include border-radius(3px);
	outline: none;

	&.large-input{
		max-width: 310px;
	}
	&.med-input{
		max-width: 155px;
	}
}

input[type="text"]:focus, textarea:focus{
	@include single-box-shadow(rgba(#A268BF,1),0, 0, 5px, false, false);
}

input[type="submit"]{
	@extend .button;
}

/* ==========================================================================
   GRAVITY FORMS
   ========================================================================== */

.gform_wrapper{
	form{
		.gform_body{
			ul.gform_fields{
				li.gfield{

					&.gsection{
						padding-top: 2em;
						
						&:first-child{
							padding-top: none;
						}
					}

					&.address{
						#input_3_2_3_container{
							label{
								visibility: hidden;
							}
						}
					}

					&.small-print{
						width: 75%;
					}

					&.small-print-check{
						label{
							width: 75%;
							text-transform: none;
						}
					}

					&.member-no,&.tel,&.email{
						width: 40%;
					}

					&.gfield_error{
						background-color: #fff;
						border: none;
						@include border-radius(3px);

						label{
							color: #333;
						}
					}

					label{
						font-size: 0.8em;
						@include playfair;
						font-weight: 300;
						letter-spacing: 2px;
						text-transform: uppercase;
					}					
				}
			}
			.ginput_container{
				.ginput_left, .ginput_right{
					float: none;
					display: inline-block;
					width: 49%;
					margin-left: 2%;

					label{
						font-size: 0.8em;
					}
				}

				.ginput_left{
					margin-left: 0;
				}

				input[type="text"]{
					width: 100% !important;
					max-width: initial;
					padding: 0.5em;
					color: #fff;
					font-size: 1em;
					letter-spacing: 1px;
					background-color: #1f1f1f;
					border:1px solid #2c2c2c;
				}

				textarea{
					width: 100% !important;
					color: #fff;
					font-size: 1em;
					letter-spacing: 1px;
					background-color: #1f1f1f;
					border:1px solid #2c2c2c;
					@include border-radius(3px);
				}
			}
		}//.gform_body

		.gform_footer{
			input[type="submit"]{
				color: #fff;
				font-size: 0.8em;
				letter-spacing: 2px;
				background-color: #503B5A;
				border: 1px solid #503B5A;
				@include transition(all,.3s);

				&:hover{
					background-color: #573169;
				}
			}
		}

		.validation_error{
			position: relative;
			padding-left: 25px;
			color: #fff;

			&:after{
				@extend %icon;
				content: "\f071";
				position: absolute;
				left: 0;
				bottom: 6px;
				color: #e74c3c;
			}
		}
	}
}//.gform_wrapper

/* ==========================================================================
   EVENT ESPRESSO
   ========================================================================== */

.event_title{
	display: inline-block;
	margin-bottom: 0 !important;
	padding: 1em 2em;
	color: #fff;
	text-transform: uppercase;
	background-image: url(../img/header-bg.png);
}

.event-data-display{
	padding: 1em 2em;
	background-color: rgba(254, 255, 245, 1);
}

.event_espresso_form_wrapper, .espresso_add_attendee{
	margin-bottom: 1em;
	
	label{
		padding-bottom:0.5em;
		font-size: 1em;
		font-weight: 600;
		text-transform: inherit;
	}

	input[type="text"]{
		padding: 1em;
		color: #414141;
		font-size: 1em;
		@include garamond-bold;
		letter-spacing: 1px;
	}

	.submit, #stripe_submit{
		float: none;
		@extend .button;
		color: #fff;
		background-color: #004A09;
		border: none;

		&:hover{
			background-color: #27ae60;
		}
	}
}// .event_espresso_form_wrapper, .espresso_add_attendee

.event_espresso_form_wrapper{
	
	select{
		max-width: 320px;
	}	

	.multi_regis_wrapper_attendee-primary, .multi_regis_wrapper_attendee-additional{
		padding: 2em;
		background-color: rgba(254, 255, 245, 1);
	}

	#event_espresso_edit_cart{
		margin: 2em 0 0 0;
		padding: 0;
		font-size: 1em;
	}

}

// EVENT ESPRESSO REG FORM
#registration_form{
	
	.section-title{
		margin-top: 0;
	}

	label{
		&.error{
			color: #e74c3c;
		}
	}

	.additional-attendee-div{
		display: inline-block;

		img{
			display: none;
		}
	}
	
	.add-additional-attendee-lnk{
		width: 100%;
		max-width: 320px;
		padding: 0.3em 1em;
		color: #fff !important;
		text-align: center;
		background-color: #2ecc71;
		border: 1px solid #27ae60;
		@include single-text-shadow(none);
	}

	.remove-additional-attendee-lnk{
		padding: 0.3em 1em;
		color: #fff !important;
		background-color: #e74c3c;
		border: 1px solid #c0392b;
		@include single-text-shadow(none);
	}

	.espresso_add_attendee{
		border-bottom: 1px dotted rgba(0,0,0,0.2);
	}

	.event_form_submit{
		max-width: 320px;
		padding: 0;
		text-align: center;
	}
}// #registration-form

// EVENT ESPRESSO SHOPPING CART

#event_espresso_shopping_cart{
	.multi_reg_cart_block{
		margin: 0;
		padding: 0;
	}

	.price_list{
		td{
			padding: 0 0 5px 0;
		}

		.price{
			font-weight: bold;
		}

		.reg-allowed-limit{
			font-style: italic;
		}
	}

	#event_espresso_total_wrapper{
		margin: 0;
		padding: 1em 2em;
		text-align: left;
		background-color: rgba(254, 255, 245, 1);

		.event_total_price{
			float: none;
		}

		#event_espresso_refresh_total{
			text-align: left;
		}
	}

	#event_espresso_submit_cart{
		text-align: left;
	}
}// .event_espresso_shopping_cart

// EVENT ESPRESSO CHECKOUT FORM

#event_espresso_checkout_form{
	margin: 0;
	padding: 0;	

	#event_espresso_registration_form{
		margin: 0;
	}

	.mer-event-submit{
		margin-top: 1em;
	}
}

// EVENT ESPRESSO PAYMENT OVERVIEW

.espresso_payment_overview{
	table{
		tr{
			td{
				padding-bottom: 1em;
				vertical-align: bottom;
			}
		}
	}
}

