 /* ==========================================================================
   BASE
   ========================================================================== */

body{
	color: #fff;
	letter-spacing: 1px;
	background-color:#000;

	@media screen and (max-width:1000px){
		font-size: 90%;
	}
	@media screen and (max-width:800px){
		font-size: 80%;
	}
}

.container{
	@media screen and (max-width: 750px){
		width: 100%;
	}
}

#kanye-west{
	position: relative;
	min-height: 100%;
	max-width: 1600px;
	margin: 0 auto;
	background-image: url(../img/page-bg.jpg);
	background-repeat: repeat;

	.sidebar-visible &{
		overflow-x:hidden;
	}
}

/* ==========================================================================
   LOGIN
   ========================================================================== */

.login{
	position: absolute;
	width: 100%;
	padding: 0 1em;
	background-color: #131313;
	z-index: 9999;
	@include translateY(-100%);
	@include transition(all, .3s);

	&.visible{
		@include translateY(0);
		@media screen and (max-width: 600px){

		}		
	}

	.js-login{
		position: absolute;
		bottom: -35px;
		right: 1em;
		height: 35px;
		padding: 0 0.5em;
		color: #fff;
		@extend .small;
		background-color: #131313;
		@include border-bottom-left-radius(5px);
		@include border-bottom-right-radius(5px);

		i{
			margin-right: 0.5em;
		}
	}

}// .login

.widget_login_wid{ 
	display: inline-block; 
	float: right;
	overflow:hidden;

	@media screen and (max-width: 600px){
		float: none;
	}

	ul{
		margin: 0;
		padding:1em 0;
		list-style-type: none;

		li{
			display: inline-block;
			margin-left: 1em;
			
			&:first-child{
				margin-left: 0;
			}
			
			a{
				color: #A268BB;
				text-decoration:none;
				border-bottom:1px solid transparent;

				&:hover{
					border-bottom: 1px solid #A268BE;
				}
			}

			@media screen and (max-width: 600px){
				display: block;
				margin-left: 0;
			}
		}
	}

	input[type="text"],input[type="password"]{
		padding: 0.7em 1.4em;
		color: #000;
		@extend .small;
		letter-spacing: 1px;
		border: none;
		@include border-radius(0);
		outline: none;

		@media screen and (max-width: 600px){
			font-size: 1em;
		}
	}

	input[type="submit"]{
		color: #fff;
		@extend .small;
		@include playfair;
		font-weight: normal;
		background-color: #503B5A;
		border: none;
		@include border-radius(0);
		outline: none;

		&:hover{
			background-color: #573169;
		}
	}
	
	@media screen and (max-width:600px){ 
		display: block; 
		position: relative; 
	}
}// login widget

/* ==========================================================================
   HEADER
   ========================================================================== */

#header{
	position: relative;
	text-align:center;
	background-image: url(../img/header-bg.png);
	background-repeat: repeat;
	border-bottom: 5px solid black;

	&:after{
		content: "";
		display: inline-block;
		position: absolute;
		top:0;left:0;
		width: 100%;
		height: 100%;
		z-index: 5;
		@include filter-gradient(#00ffff, #a8ffff, vertical); // IE6-8
		$experimental-support-for-svg: true;
		@include background-image(linear-gradient(top,  rgba(255,255,255,0) 56%,rgba(255,255,255,0.06) 100%));
	}
}   

/* ==========================================================================
   MEGATRON DROPDOWN
   ========================================================================== */

nav{
	ul{
		margin:0;
		padding:0;
		list-style:none;		
	}
}

#header.mega{

	.logo-big{
		position: relative;
		display: inline-block;
		margin:1em 0;
		z-index: 10;
	}

	.logo-small{
		display: none;
	}

	#nav{

		@media screen and (max-width: 1100px){
			font-size: 90%;
		}

		.mobile-menu{
			display: none;
		}

		ul.menu{
			position: relative;
			z-index: 9999;
			
			// FIRST LEVEL LINKS
			> li.menu-item{
				display: inline-block;
				margin-left: 3em;
				text-align: left;
				line-height: 45px;

				@media screen and (max-width:950px){
					margin-left: 2em;
				}
				
				&:first-child{
					margin-left: 0;
				}

				> a{
					display: inline;
					padding-bottom: 3px;
					color:#fff;
					font-size: 0.75em;
					text-transform: uppercase;
					text-decoration: none;
					border-bottom: 1px solid transparent;
					@include transition(border-bottom, .3s);

					&:hover{
						border-bottom: 1px solid #fff;
					}
				}

				%menu-links{
					display: inline-block;
					margin: 1em 0;
					padding-bottom: 2px;
					color: #454545;
					font-size: 0.75em;
					font-weight: bold;
					text-transform: uppercase;
					text-decoration: none;
					border-bottom: 1px solid transparent;
					@include transition(all,.3s);

					&:hover{
						border-bottom: 1px solid #454545;
					}
				}
				
				// LINKS WITH CHILDREN
				&.menu-item-has-children{
					// MEGATRON
					&.megatron{
						> ul.sub-menu{
							left: 0;
							width: 100%;
							padding: 0 19%;
							background-image:
							url(../img/megadrop-dove.png), 
							url(../img/bg-megadrop-bottom-repeat.png),
							url(../img/bg-megadrop-cloud-left.png),
							url(../img/bg-megadrop-cloud-right.png),
							url(../img/bg-megadrop.jpg);
							background-position:90% 60%, 0 107%, bottom left, bottom right;
							background-repeat: no-repeat, repeat-x, no-repeat, no-repeat,  repeat;

							&:after{
								content: "";
								display: inline-block;
								position: absolute;
								bottom: -68px;
								left: 50%;
								width: 731px;
								height: 78px;
								margin-left: -365px;
								background-image: url(../img/bg-megadrop-bottom-center.png);
							}

							@media screen and (max-width:1000px){
								padding:0 10%;
							}
							@media screen and (max-width:800px){
								padding: 0;
							}

							>li.menu-item{
								margin: 3em 0;
								padding: 1em 1.5em;
								line-height: 1;
								border-top: none;
								border-right: 1px solid #c4c4c4;

								&:first-child{
									border-left: 1px solid #c4c4c4;
								}

								@media screen and (max-width:800px){
									border:none;
								}

								> a{
									@extend .title;
									margin: 0;
									font-size: 1em;
									color: #000;
								}

								> ul.sub-menu{
									margin-top: 1em;

									li.menu-item a{
										@extend %menu-links;

										&:after{
											content:">";
											display: inline-block;
											margin-top: -4px;
											margin-left: 5px;
											font-size: 0.5em;
											vertical-align: middle;
										}
									}
								}
							}
						}
					}
					
					// OTHER MENUS
					> ul.sub-menu{
						z-index: 9999;
						@extend .clearfix;
						position: absolute;
						top: 100%;
						padding: 1em;
						background-image: url(../img/bg-megadrop.jpg);
						@extend .invisible;
						@include transition(opacity, .2s);
						
						&:after{
							content: "";
							display: inline-block;
							position: absolute;
							bottom: -22px;
							left: 50%;
							width: 100%;
							height: 22px;
							margin-left: -50%;
							background-image: url(../img/bg-drop-bottom.png);
							background-repeat: repeat-x;
							background-position: center;
						}

						> li.menu-item{

							border-top: 1px solid #c4c4c4;

							&:first-child{
								border-top: none;
							}

							a{
								@extend %menu-links;
								line-height: 1;
							}
							
							&.menu-item-has-children{
								float: left;
							}
						}
					}

					&:hover{
						> ul.sub-menu{
							@extend .visible;
						}
					}			
				}
				
			}
		}
	}//#nav
}//#header.mega

%menu-links{
	display: inline-block;
	margin: 1em 0;
	color: #454545;
	font-size: 0.75em;
	font-weight: bold;
	text-transform: uppercase;
	text-decoration: none;
}

#header.mobile{
	// height:60px;
	padding: 0;

	.logo-big{
		display: none;
	}

	.logo-small{
		display: inline-block;
		z-index: 10;
	}

	#nav{
		text-align:left;

		.mobile-menu{
			display: inline-block;
			position:relative;
			line-height: 60px;
			z-index: 10;	
			
			.mob-button{
				padding: 0.5em 1em;
				color: #fff;
				font-size: 0.75em;
				text-transform: uppercase;

				i{
					display: inline-block;
					font-size: 2em;
					margin-top: -1px;
					vertical-align: middle;
				}

				span{
					display: inline-block;
					vertical-align: middle;
				}

				@media screen and (max-width: 500px){
					color: #fff;
					font-size: 120%;
					background-color: transparent;

					span{
						display: none;
					}
				}
			}
		}

		ul.menu{
			display: none;
			position: absolute;
			width: 100%;
			top: 100%;
			text-align: center;
			background: url(../img/bg-megadrop.jpg);
			z-index: 9999;
			
			&.open{
				display: block;
			}

			> li.menu-item{
				display: block;
				float: none;

				a{
					@extend %menu-links;
					width: 100%;
					margin: 0;
					line-height: 45px;
					border-bottom: 1px solid #c4c4c4;

					@media screen and (max-width:500px){
						font-size: 120%;
					}
				}

				> ul.sub-menu{
					display: none;	
				}
			}

			li.column{
				float:none;
				padding: 0;

				&.col-1-3{
					width: initial;
				}
			}
		}
	}//#nav
}//#header.mobile

/* ==========================================================================
   HERO & FLEXSLIDER
   ========================================================================== */
#modal-video{
	position:fixed;
	top:0;right:0;bottom:0;left:0;
	background-color: rgba(#000,0.85);
	z-index: 9999;

	.valign{
		width: 90%;
		margin-left: 5%;
		text-align: center;
	}

	video{
		position: relative;
		display: inline-block;
		width: 100% !important;
		height: auto !important;
	}
}

.hero{
	.arrow-wrap{
		position: fixed;
		bottom: 10px;
		left: 50%;
		margin-left:-25px;
		width: 50px;
		height: 50px;
		background-image: url('../img/scroll-arrow.png');
		background-position: center;
		background-repeat: no-repeat;
		z-index: 9999;
	}

	.hero-content{
		width: 90%;
		margin-left: 5%;
		text-align: center;
		z-index: 100;

		@media screen and (max-width:500px){
			width: 80%;
			margin-left: 10%;
		}

		.title{
			font-size: 5em;
			line-height: 1;
			
			@media screen and (min-width: 1440px){
				font-size: 5em;
			}
			@media screen and (max-width: 1440px){
				font-size: 4em;
			}
			@media screen and (max-width: 1000px){
				font-size: 3em;
			}
			@media screen and (max-width: 750px){
				font-size: 2em;
			}
		}

		.button{
			margin-top: 1em;
		}
	}// .hero-content

	&.flexslider{
		height: 700px;
		margin:0;
		background-color: black;
		border:none;
		border-bottom:5px solid black;
		overflow: hidden;

		@media screen and (max-width:700px){
			height: 350px;	
		}
		@media screen and (max-width:400px){
			height: 250px;	
		}

		.slides{
			li{
				position: relative;
				height:700px;
				background-size:cover;
				background-position: center;

				.slide-content-wrapper{
					width: 450px;
					height: 700px;

					@media screen and (max-width:700px){
						display: none;
					}

					.slide-content{
						position: relative;
						top: 10%;
						left: 10%;
						width: 80%;
						height: 80%;
						padding: 6em 3em;
						background-repeat: repeat;
						border: 1px solid #555555;

						.heading{
							text-transform: uppercase;
						}

						.slide-title{
							margin: 0;
							padding: 0.2em 0;
							@extend .large;
							text-transform: uppercase;
							border-bottom: 2px dotted #fff;
						}
					}
				}// .slide-content-wrapper

				@media screen and (max-width:700px){
					height: 350px;	
				}
				@media screen and (max-width:400px){
					height: 250px;	
				}

				img{
					width: 100%;
					height: 100%;
					@include opacity(0);
				}
			}// li
		}// .slides

		.flex-control-nav{
			bottom:25px;

			@media screen and (max-width: 500px){
				bottom: 0;
			}

			&.flex-control-paging{

				li{
					vertical-align: middle;
				}

				a{
					height: 10px;
					width: 10px;
					background: rgba(255,255,255,0.5);
					@include transition(all,.3s);
					
					&.flex-active{
						background: rgba(255,255,255,1);
					}

					@media screen and (max-width: 500px){
						width: 5px;
						height: 5px;
					}
				}
			}
		}// .flex-control-nav
	}// .flexslider

	&.image{
		position: relative;
		height: 500px;
		background-size: cover;

		&:after{
			content:"";
			display: block;
			position: absolute;
			top:0;right:0;bottom:0;left:0;
		}
			
		@media screen and (max-width:700px){
			height: 350px;	
		}
		@media screen and (max-width:400px){
			height: 200px;	
		}

		img{
			width: 100%;
			height: 100%;
			@include opacity(0);
		}

		.single-espresso_event &{
			height:500px;
			background-size: cover;
			background-position: center;

			@media screen and (max-width:700px){
				height: 350px;	
			}
			@media screen and (max-width:400px){
				height: 200px;	
			}
		}
	}
} // .hero

/* ==========================================================================
   HOME SLIDER
   ========================================================================== */

.slide-content-wrapper{
	position: absolute;
	top: 0;
	left: 50%;
	right: auto;
	@include opacity(0);
	@include transition(left, 1.2s);

	.flex-active-slide &{
		left:0;
		@include opacity(1);
	}

	.inner{
		position: relative;
		z-index: 50;
	}

	&:after{
		content:"";
		position: absolute;
		top: 0;
		left: 0;
		width:100%;
		height: 100%;
		display: inline-block;
		background-repeat: no-repeat;
		z-index: 10;
	}
}

.house19-slide{
	background-image: url(../img/house19-slide.jpg);

	.slide-content-wrapper{
		&:after{
			background-image: url(../img/deco-carousel-house-19.png);
			background-position:100% 100%;
		}
	}

	.slide-content{
		position:relative;
		background-image: url(../img/purple-flower-pattern.jpg);
	}
}

.house20-slide{
	background-image: url(../img/house20-slide.jpg);

	.slide-content-wrapper{
		&:after{
			background-image: url(../img/deco-carousel-house-20.png);
			background-position:100% 100%;
		}
	}

	.slide-content{
		background-image: url(../img/green-pattern.jpg);	
	}
}

.house21-slide{
	background-image: url(../img/house21-slide.jpg);
	
	.slide-content-wrapper{
		&:after{
			background-image: url(../img/deco-carousel-house-21.png);
			background-position:100% 100%;
		}
	}

	.slide-content{
		background-image: url(../img/purple-pattern.jpg);	
	}
}

.restaurants-slide{
		background-image: url(../img/restaurants-slide.jpg);

	.slide-content-wrapper{
		&:after{
			background-image: url(../img/deco-carousel-restaurants.png);
			background-position:100% 100%;
		}
	}

	.slide-content{
		background-image: url(../img/green-pattern.jpg);
	}
}

.bedrooms-slide{
	background-image: url(../img/bedrooms-slide.jpg);

	.slide-content-wrapper{

		.slide-content{
			padding-top: 16em !important;
		}

		&:after{
			background-image: url(../img/deco-carousel-bedrooms.png);
			background-position:85% 0;
		}
	}

	.slide-content{
		background-image: url(../img/grey-pattern.jpg);
	}
}

.bars-slide{
	background-image: url(../img/bars-slide.jpg);

	.slide-content-wrapper{
		&:after{
			background-image: url(../img/deco-carousel-bars.png);
			background-position:100% 100%;
		}
	}

	.slide-content{
		background-image: url(../img/purple-pattern.jpg);
	}
}
/* ==========================================================================
   HAS SIDEBAR
   ========================================================================== */

.has-sidebar{
	height: 100%;

	.inner-content{
		width: 80%;
		@include transition(all,.3s);

		.sidebar-visible &{
			width: 100%;
			@include translateX(200px);	
		}

		@media screen and (max-width: 750px){
			width: 100%;
			margin:0 auto;
		}
	}
}// .has-sidebar


/* ==========================================================================
   SIDENAV
   ========================================================================== */

.sidebar{
	padding: 5em 0;

	@media screen and (max-width: 750px){
		position: absolute;
		top:0;
		left:0;
		height: 100%;
		min-width: 200px;
		margin-left: -200px;
		padding: 5em 1em;
		@include transition(all,.3s);
	}

	.sidebar-visible &{
		margin-left: 0;
		
		@media screen and (min-width:751px){
			position: relative;
			margin-left: 0;
			min-width: auto;
			background-color: transparent;
		}
	}

	.sidenav-title{
		margin-top: 0;
		@include garamond-bold;
		font-weight: 300;
		text-transform: uppercase;

		a{
			color: #fff;
			text-decoration: none;
		}
	}

	.widget_nav_menu{

		.menu{
			margin: 0;
			padding: 0;
			list-style-type: none;

			>.menu-item-has-children{
				> .sub-menu{
					display: none;
				}
			}

			li{
				margin-bottom: 0.5em;

				a{
					display: inline-block;
					color: #fff;
					text-decoration: none;
					@include single-transition(background-color,.3s);

					&:before{
						display: inline-block;
						content:"\2023";
						position: absolute;
						left: -25px;
						width: 10px;
						@include opacity(0);
						@include transition(all,.3s);
					}

					&:hover{
						&:before{
							left:-15px;
							@include opacity(1);
						}
					}
				}

				&.current-menu-item{
					> a{
						&:before{
							left:-15px;
							@include opacity(1);
						}
					}
				}

				&.current_page_item{
					> .sub-menu{
						display: block;
					}
				}

				&.current-page-parent{
					> .sub-menu{
						display: block;
					}
				}
			}//li

			.sub-menu{
				padding-left:20px;
			}
		}// ul.menu
	}// .widget_nav_menu
}// .sidenav

/* ==========================================================================
   PAGE
   ========================================================================== */

#page{
	overflow:hidden;
}//#page

#content-wrapper{
	position: relative;

	.inner-content{
		margin: 0 auto ;
		padding: 5em 1em;

		.mob-button{
			display: none;
			position: absolute;
			top: 2em;
			color: #000;
			background-color: #fff;

			i{
				display: inline-block;
				vertical-align: middle;
			}

			@media screen and (max-width: 750px){
				display: inline-block;
			}
		}// .mob-button

		header{
			margin-bottom: 2em;
			border-bottom: 1px solid #fff;
			.title{
				line-height: 1;
			}
		}

		.body{
			padding: 0 1em;
			line-height: 1.7;
		}
	}// .inner-content
}//.content-wrapper

.inner-content{
	a{
		color: #A268BE;
		text-decoration: none;
		border-bottom: 1px solid transparent;
		@include transition(all,.3s);
		
		&:hover{
			border-bottom: 1px solid #A268BE;
		}
	}
}

/* ==========================================================================
   GRID ITEMS
   ========================================================================== */

.row{
	margin:0;

	.column{
		&.col-1-3.expand{

			@media screen and (max-width:750px){
				width: 100%;

				.square{
					padding:2em;

					.valign{
						position:relative;
						top: 0;
						@include translateY(0);
					}
				}
			
				.content{
					@media screen and (max-width: 750px){
						height: 200px;
					}

					.valign{
						padding: 0 3em;
					}
				}
			}	
		}
		
		&.col-2-3.expand{
			@media screen and (max-width:750px){
				width: 100%;
			}
		}
	}
}// .row

.square, .rect-items{
	
	.valign{
		width: 100%;
		text-align: center;
		z-index: 10;

		h1,h2,h3,h4,h5,h6{
			margin: 0;
			padding-bottom: 0.3em;
			@extend .large;
			line-height: 1;
		}// stop wordpress styles overriding title
	}

}// .square, rect-items

.square{
	position: relative;
	padding-top: 100%;
}// .square

.rect-items{
	.image, .content{
		position: relative;
		height: 350px;

		@media screen and (min-width: 1600px){
			height:500px;
		}
	}

	.image{
		@extend .bg;

		.valign{
			padding: 0 2em;
		}
	}
}// .rect-item

.bg{
	background-size:cover;
	background-position: center;
	
	&:hover{
		.highlight{
			background:none;
			box-shadow:10px 0 0 rgba(#000, 0), -10px 0 0 rgba(#000, 0);
		}

		&:after{
			background-color: rgba(51,51,51,0.7);
		}
	}

	&:after{
		content:"";
		display: inline-block;
		position:absolute;
		top:0;
		width:100%;
		height:100%;
		background-color: transparent;
		@include transition(all,.3s);
		z-index: 5;
	}
}// .bg

.highlight{
	display: inline-block;
	padding: 1em 3em;
	background-color: rgba(#000, 0.25);
		box-shadow: 10px 0 0 rgba(#000, 0.25), -10px 0 0 rgba(#000, 0.25);
	@include transition(all,.3s);

	@media screen and (max-width: 600px){
		padding: 0 2em;
	}

	p{
		margin: 0;
	}
}// .highlight

.flow{
    position: relative;

	@media screen and (max-width:750px){
		overflow-y: hidden;
    	overflow-x: scroll;	
	}

    .grid-flow{
    	overflow-y: hidden;
    	overflow-x: scroll;
    	width: 100%;
    	background-color: black;

		@media screen and (max-width:1000px){
		}

    	@media screen and (min-width:600px) and (max-width: 800px){

    	}

		@media screen and (max-width:750px){
			width: 900px;
		}

		@media screen and (max-width: 480px){
			width: 720px;
		}

		@media screen and (max-width: 320px){
			width: 480px;
		}
	}
}// .flow

.pattern{
	background-image: url(../img/grey-pattern.jpg);
	background-repeat: repeat;
}// .pattern

/* ==========================================================================
   FOOTER
   ========================================================================== */

#footer{
	position: relative;

	.certificates{
		padding: 1em 0;
		text-align:center;
		background-color: #181319;

		@media screen and (max-width:600px){
			display: none;
		}

		ul{
			display: inline-block;
			margin:0;
			padding:0;
			list-style-type: none;

			li{
				display: inline-block;
				height: 70px;
				padding:0 2em;

				@media screen and (max-width: 800px){
					height: 40px;
				}

				img{
					max-height: 100%;
					width: auto;
				}
			}
		}
	}

	.sitemap{
		position: relative;
		padding:1em;
		background-image: url(../img/black-bg.png);
		background-repeat: repeat;

		>.left{

			@media screen and (max-width:500px){
				float: none;
			}

			.logo{
				display: inline-block;
				vertical-align: top;
			}

			.contact-details{
				overflow:hidden;

				@media screen and (max-width:600px){
					display: inline-block;
					margin-left: 1em;
				}

				.detail{
					margin-left: 2em;

					&:first-child{
						margin-left:0
					}
				}
				
				p{
					margin:0;
				}
			}			
			}//left

		.right{

			@media screen and (max-width:500px){
				float: none;
			}

			nav{
				display: inline-block;
				text-align: right;

				ul.menu{
					display: inline-block;
					vertical-align: middle;
					margin-right: 2em;

					li{
						display: inline-block;
						margin-left: 1em;
					}

					a{
						@extend .title;
						padding-bottom: 3px;
						color: #fff;
						font-size: 0.75em;
						border-bottom: 1px solid transparent;
						vertical-align: middle;
						@include transition(all, .3s);

						&:hover{
							border-bottom: 1px solid #fff;
						}
					}	
				}//.menu

				ul.social{
					display: inline-block;

					li{
						display: inline-block;
						line-height: 50px;

						a{
							color: #fff;
						}

						.icon{
							display: inline-block;
							vertical-align: middle;
							font-size: 2em;
							text-decoration: none;
						}
					}
				}

				@media screen and (max-width:500px){
					display: block;
					text-align: center;

					ul.menu{
						display: block;
						li{
							display: block;
							margin-left: 0;
						}						
					}
				}
			}//nav			
		}//right
	}//.sitemap
}//#footer

/* ==========================================================================
   MISC
   ========================================================================== */

.header-fancy{
	position: relative;
	height:400px;
	background-image: url(../img/page-bg.jpg);
	background-repeat: repeat;

	&:after{
		content:"";
		display: inline-block;
		position: absolute;
		top:0;left:0;
		height: 100%;
		width: 100%;
		z-index: 5;

		@include filter-gradient(#000000, #e00000, vertical); // IE6-8
		$experimental-support-for-svg: true;
		@include background-image(linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.88) 62%,rgba(0,0,0,0.88) 100%));
	}

	.valign{
		width: 100%;
		padding:0 20%;
		z-index: 10;

		@media screen and (max-width:600px){
			padding: 0 5%;
		}
	}
}//.header-fancy
