.page-pattern{
	background-image: url(../img/page-bg.jpg);
}

.page-pattern-white{
	background-image:url(../img/white-bg.jpg) !important;
}

/* ==========================================================================
   HOME
   ========================================================================== */

#home{
	background-color: black;
	overflow: hidden;
	
	.events{
		.pattern-img{
			background-image:url(../img/bells.png),url(../img/grey-pattern.jpg);
			background-size: 80%, auto;
			background-repeat: no-repeat,repeat;
			background-position: 125% 95%;
		}

	}//.events

	.members{
		.pattern-img{
			background-image:url(../img/head.png),url(../img/grey-pattern.jpg);
			background-repeat: no-repeat,repeat;
			background-position: 50%;
		}
	}//.members

	.bedrooms{
		.pattern-img{
			background-image:url(../img/deco-carousel-bedrooms.png),url(../img/grey-pattern.jpg);
			background-size:100%, auto;
			background-repeat: no-repeat,repeat;
			background-position: 50% -5%;

			@media screen and (max-width: 750px){
				background-position: 50% 50%;
			}
		}
	}//.bedrooms
	
	.food{
		.pattern-img{
			background-image:url(../img/drink.png),url(../img/bg-box-house-19.jpg);
			background-repeat: no-repeat,repeat;
			background-position: 0% 110%;
			
			@media screen and (max-width: 1200px){
				background-size:50%;
			}
			@media screen and (max-width: 750px){
				background-size:20%;
				background-position: 0% 100%;
			}
		}
	}//.bedrooms
}//#home

/* ==========================================================================
   EVENTS
   ========================================================================== */

#events{
	background-color: #181818;

	.event:nth-of-type(2n){
		.pattern{
			background-image: url(../img/lightgrey-pattern.jpg);
		}
	}

	.rect-items{
		.image{
			overflow: hidden;

			span.notice{
				position: absolute;
				top: 2px;
				right: -109px;
				display: inline-block;
				padding: 62px 105px 45px;
				background-color: #C10000;
				@include rotate(45deg);
				z-index: 10;
				font-family: 'Simoncini Garamond W01';
				text-transform: uppercase;
				font-size: 2rem;				
			}
		}
		.content{
			@media screen and (max-width: 750px){
				height: auto;

				.event-desc.valign{
					padding: 1em;
					top:auto;
					position: relative;
					@include translateY(0);
				}
			}
		}
	}

	#isotope{
		a{
			color: #fff;
		}

   		.grid-sizer,.item{
   			position: relative;
   			width: 100%;
   		}
   		.item{
   			.column.col-2-3{
   				padding-right: 0;
   			}
   			.column.col-1-3{
   				padding-left: 0;
   			}
   		}
	}

	.highlight{
		margin-bottom: 0;
	}

	.event-date{
		@include garamond-bold;
		text-transform: uppercase;
		letter-spacing: 2px;
	}

	.event-desc{
		font-size: 0.9em;
	}//.event-desc

}// #events

/* ==========================================================================
   EVENTS-SINGLE
   ========================================================================== */

#events-single{
	@extend .black;
	@extend .page-pattern-white;

	.inner-content{
		padding: 4em;

		@media screen and (max-width: 600px){
			padding: 2em;
		}
		
		header{
			margin: 0;
			border: none;
		}

		.body{
			padding: 2em;
			background-color: #fefff5;

			p:first-child{
				margin-top: 0;
			}

			i{
				display: inline-block;
				width: 30px;
				color:#aaa;
				font-size: 1.45em;
				vertical-align: middle;
			}

			.notice{
				color: #A268BE;
			}

			.currency-code {
				display: none;
			}
		}

		.description{
			//max-width: 600px;
			margin: 2em 0;
			padding-top: 2em;
			border-top: 2px solid #000;
			overflow: hidden;
		}

		span.ticket-wrap{
			display: inline-block;
			margin-top: 2em;
			margin-left: 12px;
		}

		.ee_view_cart{
			@extend .ticket-button;
		}

	}
}

/* ==========================================================================
   BEDROOMS
   ========================================================================== */
#bedrooms{
	.bedroom{
		background-color: #000;

		a{
			color: #fff;
		}
	}
}
/* ==========================================================================
   BOOKING
   ========================================================================== */

#booking{
	@extend #events-single;
}

/* ==========================================================================
   LOVE FROM CEDRIC
   ========================================================================== */

#cedric{

	.hero{

		.slide-content-wrapper{
			@media screen and (max-width: 700px){
				display: block;
				width: 100%;
				height: 350px;
				text-align: center;
				
				.slide-content{
					height: auto;

					.slide-title{
						margin-bottom: 0.5em;
						border-bottom: none;
					}

					.slide-description{
						display: none;
					}
				}
			}

			@media screen and (max-width: 400px){
				height: 250px;
			}
		}

		.slide-content{
			padding:3em;
			background-image: url(../img/grey-pattern.jpg);
		}

	}// .hero

	#isotope{
	   .grid-sizer,.item{
	   		position: relative;
	   		width: 25%;
	   		padding: 10px;

	   		@media screen and (max-width: 900px){
	   			width: 33%;
	   		}
	   		@media screen and (max-width: 700px){
	   			width: 50% !important;
	   		}
	   		@media screen and (max-width: 500px){
	   			width: 100% !important;
	   		}

	   		a{
	   			display: inline-block;
	   			width: 100%;
	   			height: 100%;
	   		}

	   		figure{
	   			position: relative;
	   			padding-top: 40%;
	   			background-size: cover;
	   			background-position: center;
	   			@include transition(all, 0.5s);
	   			overflow: hidden;

	   			@media screen and (max-width: 700px){
		   			padding-top: 100%;
		   		}
	   			@media screen and (max-width: 500px){
		   			padding-top: 50%;
		   		}
	   		}

	   		&.wide{
	   			width: 50%;

		   		@media screen and (max-width: 900px){
		   			width: 66%;
		   		}
		   		@media screen and (max-width: 700px){
		   			width: 100%;

		   			figure{
		   				padding-top: 50%;
		   			}
		   		}
	   		}

	   		&.tall{
	   			figure{
	   				padding-top: 150%;
		   			
		   			@media screen and (max-width: 700px){
			   			padding-top: 200%;
			   		}
		   			@media screen and (max-width: 500px){
			   			padding-top: 50%;
			   		}
	   			}
	   		}

	   		&.normal{
	   			width: 25%;

		   		@media screen and (max-width: 900px){
		   			width: 33%;
		   		}
		   		@media screen and (max-width: 700px){
		   			width: 50%;
		   		}
	   			@media screen and (max-width: 500px){
		   			width: 100%;
		   		}

	   			figure{
	   				padding-top: 100%;

		   			@media screen and (max-width: 500px){
			   			padding-top: 50%;
			   		}
	   			}
	   		}

	   		.meta{
	   			padding: 1em;

		   		.title{
		   			font-size: 1.125em;
		   			line-height: 1;
		   		}

		   		.cat{
		   			margin:0;
		   			@include garamond;
		   			@extend .small;
		   			text-transform: uppercase;
		   		}   			
	   		}
		}//.item	
	}//#isotope

	.inner{
		padding: 0;
	}
	
	article{
		&.featured{
			width: 100%;
			padding: 10px;

			figure{
				padding-top: 30%;
				background-size: cover;
				background-position: center;
				@include transition(all,.3s);
	   			
	   			@media screen and (max-width: 700px){
		   				padding-top: 80%;
		   		}
			}

			.meta{
				padding: 1em 1em 1.3em 1em;

				.cat{
					margin:0;
					line-height: 0.5;
				}
			}

		}//featured

		a{
			position: relative;
			display: block;
			color: #fff;
			text-decoration: none;

			&:after{
				content: "";
				position:absolute;
				display: inline-block;
				top:0;right:0;bottom:0;left:0;
				background-color: transparent;
				@include transition(all,.3s);
				z-index: 5;
			}

			&:hover{
				&:after{
					background-color: rgba(51, 51, 51, 0.7);
				}
			}
		}

		.meta{
			position: relative;
			background-image: url(../img/header-bg.png);
			z-index: 10;
		}
	}// article

}// #cedric

/* ==========================================================================
   SINGLE CEDRIC
   ========================================================================== */

#single-cedric{

	.single{
		a{
			color: #A268BE;
			border-bottom: 1px dotted #503B5A;
			text-decoration: none;
			@include transition(all,.3s);

			&:hover{
				border-bottom: 1px dotted #A268BE;
			}
		}		
	}

	.hero.image{
		height: 500px;
	}

	.inner{
		width: 100%;
		max-width: 800px;
		margin: 0 auto;
		padding: 2em 0;

		.post-title{
			margin-top: 0;
			@include garamond-bold;
			@extend .xlarge;
			font-weight: 300;
			text-align: center;
			text-transform: uppercase;
			line-height: 1;
			letter-spacing: 1px;
		}
	}

	article.single{
		margin-top: -200px;
		padding: 4em;
		color: #000;
		line-height: 1.7;
		background-color: #fff;
		@include single-box-shadow(0,5px,20px,8px,rgba(0,0,0,0.2));
	}
}// #single-cedric

/* ==========================================================================
   RESERVATION
   ========================================================================== */

#reservation{

	.body{
		@media screen and (max-width: 600px){
			.column.col-1-2{
				width: 100%;
			}
		}		
	}

	#reservation_widget{
		width:100%;
		height: 450px;
		border: none;
	}	
}// #reservation

/* ==========================================================================
   HISTORY
   ========================================================================== */

#history{
	.history-snippet{
		position: relative;
		padding:0 3em 3em;
		border-left: 1px solid #fff;

		&:first-of-type{
			margin-top: 2em;
		}

		&.end{
			border-left: none;
			text-align: center;

			.meta{
				color: #000;
				background-color:#fff;
			}
		}
	}

	.meta{
		position: absolute;
		top: 2.5em;
		left: -25px;
		width: 50px;
		height: 50px;
		color: #000;
		text-align: center;
		background-color: #fff;
		@include border-radius(50px);
		
		span{
			width: 100%;
			left:0;
			@extend .valign;
		}

		&:first-child{
			top: 0;
			color: #fff;
			background-color: #000;
		}
	}

	.body{
		p:first-child{
			margin-top: 0;
		}
	}
}// #history

/* ==========================================================================
   TEAM
   ========================================================================== */

#team{

	.member{
		margin: 2em 0;
	}

	.member-name{
		margin: 0;
		@extend .medium;
		@include garamond;
		line-height: 0.7;
		text-transform: uppercase;
	}

	.member-title{
		margin:0.2em 0;
		text-transform: uppercase;
	}
}// #team

/* ==========================================================================
   BLOG
   ========================================================================== */

.post-item {
	margin-bottom: 65px;
	@include box-sizing('border-box');
	width: 100%;
	float: left;			

	@include device-width(5) {
		width: 100%;
		float: none;
	}

	.image {
		margin-bottom: 22px;
	}

	.meta {
		.categories, .published {
			@include inline-block;
			font-family: "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;	
			text-transform: uppercase;
			@include font-size(7);
		}

		.published {
			padding: 7px 13px;	
			@include inline-block;
			vertical-align: top;
		}

		.categories {
			a {
				background: #573168;
				color: #FFF;	
				padding: 7px 13px;	
				@include font-size(7);	
				@include inline-block;
				text-decoration: none;
			}
		}
	}			

	.title {
		border-bottom: none;
		margin-top: 25px;

		h2 {
			font-weight: normal;
			@include font-size(18);
			text-transform: none;
			color: #333;
			line-height: 1;			
		}

		&:hover {
			border-bottom: none;

			h2 {
				color: #573168;
			}
		}
	}

	.excerpt {
		color: #333333;
		line-height: 1.4;
		@include font-size(11);
	}	
}


#blog{
	background: #FFF;
	color: #333;
	@include garamond;

	.container {
		max-width: 1130px;
		height: auto !important;

		.blog-header {
			padding: 50px 30px;
			background: url(../img/border-dotted.jpg) left bottom repeat-x;
			margin-bottom: 40px;
			text-align: center;

			@include device-width(6) {
				text-align: center;
			}

			.top {
				h3 {
					@include inline-block;
					@include font-size(40);
					font-weight: normal;
					color: #333333;

					&:hover {
						color: rgb(85, 26, 139);
					}

					@include device-width(6) {
						@include font-size(20);
					}					
				}
			}

			.bottom {
				a {
					text-decoration: none;

				}
				h4 {
					color: #573168;
					@include font-size(20);
					font-weight: normal;
				}
			}

			ul.social{
				@include device-width(6) {
					padding: 0;
				}					

			    li{
			    	margin: 0 5px;

			        a{
			            color: #fff;
			            background: #573168;
			            @include border-radius(50%);
			            @include font-size(13);
			            width: 37px;
			            height: 37px;
			            text-align: center;
			            line-height: 39px;
			            @include transition(all,.3s);
			            border: 1px solid #573168;

			            &:hover {
			            	border: 1px solid #573168;
			            	background: #FFF;
			            	color: #573168;
			            }
			        }
			    }
			}			
		}
	}

	#blog-categories {
		font-family: "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
		text-transform: uppercase;
		position: relative;

		.filterby {
			font-weight: bold;
			@include font-size(8);
			position: absolute;
			left: 0;
			top: 0;
		}

		ul {
			list-style-type: none;
			padding: 0 0 0 90px;
			margin: 0 0 3em 0;

			li {
				@include inline-block;
				margin: 0 7px 18px;

				a {
					background: #e0e0e0;
					@include font-size(8);
					color: #573168;
					padding: 7px 13px;
				}

				a:hover, &.current-cat a {
					background: #573168;
					color: #FFF;
				}
			}
		}		
	}

	.inner-content {
		width: 70%;
		float: left;
		padding: 0;
		padding-right: 2.5%;
		background: url(../img/border-dotted-vert.jpg) right top repeat-y;
		padding-bottom: 3em;

		@include device-width(8) {
			width: 100%;
			padding-right: 0;	
			background: none;		
		}	

		@media screen and (max-width: 750px){
			padding: 0 2em;
		}			
	}

	#post-list {
		@extend .clearfix;

		.post-item {
			margin-bottom: 65px;
			width: 50%;

			@include device-width(5) {
				width: 100%;
				float: none;
			}

			.image {
				margin-bottom: 22px;
			}

			.meta {
				.categories, .published {
					@include inline-block;
					font-family: "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;	
					text-transform: uppercase;
					@include font-size(7);					
				}

				.published {
					padding: 7px 13px;	
					@include inline-block;
					vertical-align: top;
				}

				.categories {
					a {
						background: #573168;
						color: #FFF;	
						padding: 7px 13px;	
						@include font-size(7);	
						@include inline-block;
					}
				}
			}			

			.title {
				border-bottom: none;
				margin-top: 25px;

				h2 {
					font-weight: normal;
					@include font-size(18);
					text-transform: none;
					color: #333;
					line-height: 1;			
				}

				&:hover {
					border-bottom: none;

					h2 {
						color: #573168;
					}
				}
			}

			.excerpt {
				color: #333333;
				line-height: 1.4;
				@include font-size(11);
			}	

			&:nth-of-type(1) {
				width: 100%;

				.title {
					h2 {
						@include font-size(25);	
					}
				}			

			}

			&:nth-of-type(2n) {
				clear: left;
				padding-right: 3%;
				background: url(../img/border-dotted-vert.jpg) right top repeat-y;

				@include device-width(5) {
					background: none;
					padding-right: 0;
				}
			}	

			&:nth-of-type(2n+3) {
				padding-left: 3%;

				@include device-width(5) {
					padding-left: 0;
				}				
			}			

		}
	}

	#infinite {
		text-align: center;
	}

	#navbelow {
		display: none;
	}	

	#next {
		margin: 1em auto;
		background: #573168;
		color: #FFF;
		text-transform: uppercase;
		@include font-size(10);
		@include border-radius(3px);
		@include inline-block;
		font-family: "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;	
		cursor: pointer;
		padding: 15px 50px;
		margin-bottom: 2em;
	}	

	#infscr-loading {
		clear: both;
		@extend .clearfix;
		text-align: center;
	}	

	.sidebar {
		width: 27.5%;
		margin-left: 2.5%;
		float: right;

		@include device-width(8) {
			width: 100%;
			margin-left: 0;			
		}

		@media screen and (max-width: 750px){
			position: static;
		}		
	}

}// #blog

#single{
	background: #FFF;
	color: #333;

	.container {
		max-width: 1130px;
		height: auto !important;			
	}

	.inner-content {
		@extend .clearfix;
		clear: both;

		@include device-width(5) {
			padding: 0;
		}

		.post-item {
			float: none;
			@extend .clearfix;
			margin-top: 50px;

				@include device-width(5) {
					margin-top: 0;
				}			

			.primary.button {
				background: #573168;
				color: #FFF;
				width: 265px;
				display: block;
				margin: 5em auto;
				text-align: center;
			}

			.image {
				width: 100%;
				display: block;
				padding-top: 45%;
				-webkit-background-size: cover;
				-moz-background-size: cover;
				-o-background-size: cover;
				background-size: cover;
				background-repeat: no-repeat;
				background-position: center center;
			}

			.share-bar, .follow-bar {
				width: 20%;
				float: left;
				margin-top: 43px;

				@include device-width(6) {
					width: 100%;
					float: none;
					padding: 0 5%;
					margin-top: 30px;
				}
			}

			.article-meta {
				margin-top: 43px;
				width: 60%;
				float: left;
				padding-right: 4%;
				
				@include device-width(6) {
					width: 100%;
					padding: 0 5%;
					float: none;
				}				
			}

			.meta {
				.categories, .published {
					@include inline-block;
					font-family: "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;	
					text-transform: uppercase;
					@include font-size(8);

					@include device-width(6) {
						@include font-size(6);
					}					
				}

				.published {
					padding: 7px 13px;	
					@include inline-block;
					vertical-align: top;
				}

				.categories {
					a {
						background: #573168;
						color: #FFF;	
						padding: 7px 13px;	
						@include font-size(8);	
						@include inline-block;

						@include device-width(6) {
							@include font-size(6);
						}						
					}
				}
			}			

			h2 {
				font-weight: normal;
				@include font-size(35);
				text-transform: none;
				color: #333;
				line-height: 1;			
				margin-top: 25px;
				@include garamond;

				@include device-width(6) {
					@include font-size(25);
				}				
			}

			.excerpt {
				color: #333333;
				line-height: 1.4;
				@include font-size(11);

				@include device-width(6) {
					@include font-size(9);
				}				
			}		
		}
	}

	.share {
		.social-icons {
			padding: 0;
			margin: 0;

			li {
				display: block;
				margin-right: 5px;
				@include font-size(17);

				@include device-width(6) {
					@include inline-block;
					@include font-size(12);						
				}				

				i {
					vertical-align: middle;
					text-decoration: none;
					border-bottom: none;

					&.icon-facebook {
						color: #3b5998;
					}

					&.icon-twitter {
						color: #2caae1;
					}
					&.icon-googleplus {
						color: #bb2f2c;
					}
					&.icon-mail {
						color: #333;
						@include font-size(10);

						@include device-width(6) {
							@include font-size(8);						
						}						
					}
				}

				a:hover {
					text-decoration: none;
					border-bottom: none;
				}
			}
		}
	}

	.follow {
		.heading {
			@include font-size(8);
			font-weight: bold;
		}

		.social {
			margin: 0;
			padding:0;

			li {
				line-height: 1;

				a {
					color: #333;	
				}			
			} 
		} 
	}


}// #single

#related-posts {
	@extend .clearfix;
	margin-top: 4em;

	h2.heading {
		@include garamond;
		@include font-size(30);
		font-weight: normal;
		margin-bottom: 50px; 
		padding-left: 1%;

		@include device-width(5) {
			@include font-size(20);	
			text-align: center;
			margin-bottom: 20px; 
		}		
	}

	.post-item {
		width: 33%;
		padding: 0 1%;
		float: left;

		@include device-width(4) {
			width: 100%;
			float: none;
			margin-bottom: 30px;
			padding: 0;
		}

		&:nth-of-type(2), &:nth-of-type(3) {
			@include device-width(4) {
				width: 50%;
				float: left;
			}
		} 

		.image {
			@include device-width(4) {
				margin-bottom: 0;
			}			
		}

		.article-meta {
			padding: 0 5%
		}

		.meta {
			@include device-width(4) {
				display: none;
			}			
		}


		&:first-child {
			padding-left: 0;
		}

		&:last-child {
			padding-right: 0;
		}

		.meta .categories a {
			@include font-size(6);
		}

		.title {
			h2 {
				@include font-size(17);	

				@include device-width(5) {
					@include font-size(13);						
				}
			}
		}
	}
}

blockquote{
	margin:1em 2em;
	padding: 0 0 0 2em;
	font-size: 1.125em;
	border-left: 5px solid #573168;
}

.date{
	display: block;
	width: 120px;
	font-family: Georgia, "Times New Roman", Times, serif;
	font-style: italic;

	.day{
		display: inline-block;
		width: 34px;
		height: 34px;
		margin: 0 8px 0 0;
		line-height: 34px;
		text-align: center;
		background-color: #fff;
		@include border-radius(34px);
	}

	.month{
		display: inline-block;
		color: #FFF;
	}
}

.categories{
	font-size: 12px;

	.post-categories{
		display: inline-block;
		margin: 0;
		padding: 0;
		text-transform: uppercase;
		list-style-type: none;
		overflow: hidden;

		li{
			float: left;
			margin: 0 10px 0 0;
		}
	}
}

/* ==========================================================================
   CONTACT
   ========================================================================== */

#contact{
	position:relative;

	&.feedback-visible{
		.feedback-overlay{
			display: block;
			background-color: rgba(0, 0, 0, 0.4);
			z-index: 200;
		}

		.feedback{
			top: 0;
			@extend .visible;
		}
	}

	.feedback{
		font-size: 0.8125em;
	}

	#map{
		position: relative;
		top:0;
		bottom:0;
		img{
			max-width: inherit;
		}

		@media screen and (max-width:1400px){
			height:500px;
			width: 100%;	
		}
	}
	
	.contact-info{
		height: 100%;
		z-index: 100;
		padding: 2em;
		color: #fff;
		// font-size: 0.875em;
		background-color: #252525;

		header{
			h2{
				@include garamond;
				margin: 0;
			}
		}
		@media screen and (max-width:1400px){
			width: 100%;
		}
	}

	.opening{
		margin-top: 4em;
		.row{
			margin:0 -10px;
		}
		.column{
			padding:10px;

			@media screen and (max-width: 500px){
				width: 100%;
			}
		}
	}
	
	.feedback-overlay{
		display: none;
		position:absolute;
		top:0;
		left:0;
		width: 100%;
		height: 100%;
		@include transition(all,.3s);
	}// .feedback-overlay

	.feedback{
		position: absolute;
		top:-5em;
		left: 25%;
		z-index: 200;
		width: 50%;
		margin: 0 auto;
		padding: 2em;
		background-color: #202020;
		@extend .invisible;
		@include transition(all,.3s);

		@media screen and (max-width: 1000px){
			width: 75%;
			left: 12.5%;
		}

		>button{
			position: absolute;
			top:0;right:0;
			color: #fff;
		}
	}// .feedback
}// #contact

/* ==========================================================================
   LOGIN
   ========================================================================== */
body.logged-in{
	.js-login{
		display: none;
	}

	#login{
		display: none;
	}

	#login-bar{
		display: block;
	}
}

.js-login{
	position: absolute;
	top: 1em;
	right: 1em;
	height: 35px;
	padding: 0.5em 1em;
	color: #fff;
	@extend .small;
	background-color: rgba(#573168, 0.5);
	@include border-radius(5px);
	@include transition(all,.3s);
	z-index: 9998;

	&:hover{
		background-color: #272727;
	}
}


#login{
	position: fixed;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	@include transition(all, .3s);

	&.visible{
		z-index: 9999;

		.login-overlay{
			display: block;
			background-color: rgba(0, 0, 0, 0.4);
			z-index: 200;
		}

		.login-modal{
			top:50%;
			@include translateY(-50%);
			@extend .visible;
		}		
	}

	.login-overlay{
		display: none;
		position:absolute;
		top:0;
		left:0;
		width: 100%;
		height: 100%;
	}// .login-overlay

	.login-modal{
		position: absolute;
		top: 30%;
		left: 35%;
		z-index: 200;
		width: 30%;
		margin: 0 auto;
		padding: 2em;
		background-color: #202020;
		overflow-y: auto;
		@extend .invisible;
		@include transition(all,.3s);

		@media screen and (max-width: 1000px){
			width: 50%;
			left: 25%;
		}
		@media screen and (max-width: 600px){
			width: 80%;
			left: 10%;
		}

		>button{
			position: absolute;
			top:0;right:0;
			color: #fff;
		}

		p{
			@include garamond;
		}

		a{
			color: #A268BE;
			text-decoration: none;
		}

		.heading{
			margin-top: 0;
			font-size: 1.3125em;
		}

		.instructions-prompt{
			margin-top: 2em;
			margin-bottom: 0;
			font-size: 0.75em;

			button{
				padding: 0;

				i{
					color: #fff;
					display: inline-block;
					vertical-align: middle;
				}
			}
		}

		.instructions{
			max-height: 0;
			width: 100%;
			margin: 1em 0 0 0;
			@extend .small;
			@extend .invisible;
			@include transition(all,.3s);

			&.visible{
				max-height: 500px;
				@extend .visible;
			}

			@media screen and (max-width: 500px){
				padding: 0;
			}
		}

		.login-remember{
			label{
				text-transform: inherit;
			}
		}

		.login-submit{
			.button-primary{
				@extend .small;
			}
		}

		input[type="text"],
		input[type="password"]{
			@include garamond;

			@media screen and (max-width: 1600px){
				max-width: 300px;
			}
		}

	}// .login-modal
	
}// #login

#login-bar{
	display: none;
	width: 100%;
	padding: 0 1em;
	text-align: right;
	background-color: rgba(#131313, .8);
	z-index: 9999;

	@media screen and (max-width: 600px){
		text-align: center;
	}

	.login-options{
		padding: 0.5em;

		ul{
			margin: 0;
			padding: 0;

			li{
				display: inline-block;
				padding: 0 0.5em;
				border-left: 1px solid rgba(#A268BE, 0.5);

				&:first-child{
					border-left: none;
				}
			}
		}

		a{
			display: inline-block;
			padding-bottom: 2px;
			color: #A268BE;
			@extend .small;
			text-decoration: none;
			border-bottom: 1px dotted transparent;
			@include transition(all,.3s);

			&:hover{
				border-bottom: 1px dotted #A268BE;
			}
		}
	}

}// #login-bar

#login-page{
	.container{
		width: 100%;
		max-width: 500px;
		margin: 0 auto;
	}
}

.login-msg, div.warning{
	padding: 1em !important;
	color: #fff !important;
	background-color: #c0392b !important;
	border: none !important;
	@include border-radius(1px);

	p{
		font-size: 1em !important;
	}
}

/* EVent Espresso specifix */


.tkt-slctr-tbl, .spco-ticket-info-dv, #spco-payment-info-table, .ee-table  {
	border-collapse: separate;
	border-spacing: 0;
	border-width: 1px 0 0 1px;
	margin: 0 0 1.6em;
	/* table-layout: fixed; */ /* Prevents HTML tables from becoming too wide */
	width: 100%;
	font-size: 15px;

	h5 {
		display: none;
	}

	table,
	th,
	td {
		border: 1px solid #eaeaea;
		border: 1px solid rgba(51, 51, 51, 0.1);
		padding: 10px;
	}

	table {
		width: 100%;
	}

}

.big-event-title-hdr {
	font-family: 'Simoncini Garamond W01';
	font-size: 25px;
	font-weight: normal;
	margin: 1em 0 .5em;	
}

.spco-steps-pg {
  font-size: 15px;
  margin: 2em 0;	
}
.spco-attendee-panel-dv {
	width:100%!important;
}
.ee-reg-form-attendee-dv {
	padding:1em 2.5%;
	margin: 2em 0 2em;
	border: 1px solid #CDCDCD;
	border-radius: 2px;

}

.spco-whats-next-buttons {
	padding: 0em 0 1em;
}

.ee-reg-form-attendee-dv .ee-reg-qstn-input-dv {
	display: block;
	clear:both;
	margin:0 0 .5em;
}
.ee-reg-form-attendee-dv .ee-reg-qstn-input-dv + .ee-reg-qstn-input-dv {
	padding-top:.5em;
}
.ee-reg-form-qstn-grp-dv {
	padding:.5em 1em 1em;
}
.ee-reg-form-qstn-grp-dv + .ee-reg-form-qstn-grp-dv {
	margin:.5em 0 0;
}
.ee-reg-form-attendee-dv .ee-reg-form-qstn-grp-title {
	margin:.25em 0 1em;
}
.ee-reg-form-attendee-dv .ee-reg-form-qstn-grp-desc-pg {
	padding: 0 1em 1em;
	margin:-1em 0 1em;
}
.spco-attendee-lgnd {
	width: auto;
	padding:0 1em;
	margin:0;
	border: none;
	letter-spacing:1px;
	font-weight: bold;
	color: #000;
}
.event_questions + .spco-attendee-lgnd {
	margin-top:2em;
}

#spco-steps-display-dv {
	width:99%;
	padding: 5px .5%;
	margin: 1.5em 0;
	border:1px solid #CDCDCD;
}

#spco-steps-big-hdr {
	display: none;
}

#ee-single-page-checkout-dv input:not([type=checkbox]):not([type=radio]):not([type=submit]):not([type=file]) {
	max-width: 60%;
}

.ee-reg-qstn {
	label {
		text-transform: capitalize;
		font-weight: bold;
		font-size: 14px;
	}
}

.spco-step-display-dv {
	float:left;
	display:inline-block;
	margin:0;
	text-align:center;
	height: 33px;
}
.steps-1 {
	width:87%;
}
.steps-2 {
	width:43.5%;
}
.steps-3 {
	width:29%;
}
.steps-4 {
	width:21.75%;
}

.ticket-selector-submit-btn {
	background: url(../img/ee_btn.png) left top no-repeat;
	color: #FFF;
	height: 42px;
	width: 178px;
	padding: 0;
	text-align: center;
	-moz-transition: none !important;
	-o-transition: none !important;
	-webkit-transition: none !important;
	transition: none !important;

	&:hover {
		background: url(../img/ee_btn.png) left bottom no-repeat;
	}
}


#espresso_calendar table.fc-border-separate td {
	background: #F9F9F9;
}

#espresso_calendar:not(.ui-widget).calendar_fullsize .fc-other-month {
	background: none;
}

.ee-spinner {
	&:before {
		display: none;
	}
	width: 64px;
	height: 64px;
	display: block;
	background: url(../img/loader.gif) center center no-repeat;
}

.single-espresso_events {

}