/* ==========================================================================
   HOME
   ========================================================================== */

.page-pattern-white{
	background-image:url(../img/white-bg.jpg) !important;
}

#home{
	background-color: black;
	overflow: hidden;
	
	.events{
		.pattern-img{
			background-image:url(../img/head.png),url(../img/black-bg.png);
			background-repeat: no-repeat,repeat;
			background-position: 50% 95%;

			@media screen and (max-width: 1200px){
				background-size:25%;
			}
		}

		.event-detail{
			padding: 2em;
			text-align: center;
			letter-spacing: 1px;
			
			.date{
				font-size: 1.5em;
			}

			p{
				margin:0;
			}
		}

	}//.events

	.members{
		.pattern-img{
			background-image:url(../img/bells.png),url(../img/black-bg.png);
			background-repeat: no-repeat,repeat;
			background-position: 100% 0%;

			@media screen and (max-width: 1200px){
				background-size:50%;
			}
		}
	}//.members

	.bedrooms{
		.pattern-img{
			background-image:url(../img/disturb.png),url(../img/black-bg.png);
			background-repeat: no-repeat,repeat;
			background-position: 50% -5%;

			@media screen and (max-width: 1200px){
				background-size:50%;
			}

			@media screen and (max-width: 750px){
				background-position: 100% -27%;
			}
		}
	}//.bedrooms
	
	.food{
		.pattern-img{
			background-image:url(../img/drink.png),url(../img/black-bg.png);
			background-repeat: no-repeat,repeat;
			background-position: 0% 110%;
			
			@media screen and (max-width: 1200px){
				background-size:50%;
			}
			@media screen and (max-width: 750px){
				background-size:20%;
				background-position: 0% 100%;
			}
		}
	}//.bedrooms
}//#home

/* ==========================================================================
   EVENTS
   ========================================================================== */

#events{
	background-color: #181818;

	.rect-items{
		.content{
			@media screen and (max-width: 750px){
				display: none;
			}
		}
	}

	#filters{
		position: relative;
		
		&.filters-visible{
			.filters-menu{
				@extend .visible;
			}
		}

		.js-toggle{
			i{
				display: inline-block;
				font-size: 1.5em;
				vertical-align: middle;
			}
		}
		button{
			color: #fff;
			padding: 0.2em;
		}

		.filter-heading{
			margin: 0;
			padding: 1em;
			@include garamond-bold;
			font-weight: bold;
			text-transform: uppercase;
		}

		.filters-menu{
			position: absolute;
			z-index: 900;
			width: 66.6666%;
			padding: 0 5px 1em 5px;
			background-color: rgba(#000, 0.9);
			@extend .invisible;
			@include transition(all,.3s);
			
			@media screen and (max-width: 750px){
				width: 100%;
			}

			.filter-heading{
				padding-bottom: 0.3em;
			}

			ul{
				margin: 0;
				padding: 0;
				list-style-type: none;
			}

			b{
				display: inline-block;
			}

			button{
				color: #c4c4c4;
				font-size: 0.8em;
				@include garamond;
				font-weight: 600;
				text-decoration: none;
				text-transform: uppercase;
				border-bottom: 1px solid transparent;
				@include transition(all,.3s);

				&:hover{
					color: #fff;
					border-bottom: 1px solid #fff;
				}
			}

			.filter-list{
				padding: 0 1em;

				li{
					display: inline-block;

					&:before{
						content: "//";
						display: inline-block;
						padding: 0 0.5em;
					}

					&:first-child{
						&:before{
							content:"";
							padding: 0;
						}
					}
					
					@media screen and (max-width: 500px){
						display: block;
						
						&:before{
							content:"";
							padding: 0;
						}
					}
				}
			}// .filter-list
		}// .filters-menu
	}// #filters

	#isotope{
   		.grid-sizer,.item{
   			position: relative;
   			width: 100%;
   		}
	}
}// #events

/* ==========================================================================
   EVENTS-SINGLE
   ========================================================================== */

#events-single{
	@extend .black;

	.inner-content{
		padding: 4em;
		background-color: #fff;
		
		.title{
			width: 50%;
			line-height: 1.7;
		}

		.description{
			max-width: 600px;
		}
	}

	.form{
		.section-heading{
			border-bottom: 2px solid #000;
		}
	}
}

/* ==========================================================================
   BEDROOMS
   ========================================================================== */
#bedrooms{
	.bedroom{
		background-color: #000;
	}
}
/* ==========================================================================
   BOOKING
   ========================================================================== */

#booking{
	@extend #events-single;
}

/* ==========================================================================
   CALENDAR
   ========================================================================== */

#calendar{
	color: #fff;
}

#espresso_calendar table.fc-border-separate td {
	/*border-top: 1px solid #ddd !important;*/
}
#espresso_calendar td.fc-widget-content {
	/*border-top: 1px solid #ededed !important;*/
}

#espresso_calendar{
	margin: 0;
	padding: 3em;
	background-color: #272727;

	@media screen and (max-width: 600px){
		padding: 1em 10px;
	}

	.fc-widget-header, .fc-widget-content{
		border: none !important;
		border-top: none !important;
	}

	.fc-header{
		.fc-header-title{
			color: #9b59b6;
		}
		.fc-header-space{
			display: none !important;
		}
	}

	.fc-button-today{
		margin-right: 0 !important;
		color: #fff !important;
		background-color: #9b59b6 !important;
		border: none !important;
		border-top-left-radius: 5px !important;
		border-bottom-left-radius: 5px !important;
		@include transition(all, .3s);

		&:hover{
			color: #fff !important;
			background-color: rgba(#9b59b6, 0.7) !important;
		}
	}

	.fc-button-prev,.fc-button-next{
		color: #fff !important;
		background-color: #8e44ad !important;
		border: none !important;
		@include transition(all, .3s);

		&:hover{
			color: #fff !important;
			background-color: rgba(#8e44ad, 0.7) !important;
		}
	}

	.fc-button-prev{
		margin-right: 0 !important;
	}

	.fc-button-next{
		border-top-right-radius: 5px !important;
		border-bottom-right-radius: 5px !important;
	}

	.fc-week{
		@include transition(all,.3s);
	}
	.fc-week:hover{
		background-color: transparent !important;
	}

	.fc-day{
		background-color: #F7F7F7 !important;
		border-top: none !important;
		@include transition(all,.3s);

		&.fc-today{
			background-color: #fff !important;

			.fc-day-number{
				color: #fff !important;
			}
		}
	}
	.fc-day:hover{
		background-color: #6F8DA2 !important;

		.fc-day-number{
			color: #fff !important;
		}
	}

	a.fc-event{
		color: #fff !important;
	}
	.fc-event{
		background-color: #9b59b6 !important;
	}
}

.qtip-jtools{
	background: #272727 !important;
	font-size: 0.8em !important;

	a{
		color: #A268BE;
		border-bottom: 1px solid transparent;
		@include transition(all,.3s);

		&:hover{
			border-bottom: 1px solid #A268BE;
		}
	}
}
/* ==========================================================================
   LOVE FROM CEDRIC
   ========================================================================== */

#cedric{

	#isotope{
		background-color: rgba(0,0,0,0.3);

	   .grid-sizer,.item{
	   		position: relative;
	   		width: 25%;
	   		padding: 10px;

	   		@media screen and (max-width: 900px){
	   			width: 33%;
	   		}
	   		@media screen and (max-width: 700px){
	   			width: 50%;
	   		}
	   		@media screen and (max-width: 500px){
	   			width: 100%;
	   		}

	   		a{
	   			display: inline-block;
	   			width: 100%;
	   			height: 100%;
	   		}

	   		figure{
	   			position: relative;
	   			padding-top: 40%;
	   			background-size: cover;
	   			background-position: center;
	   			@include transition(all, 0.5s);
	   			overflow: hidden;

	   			@media screen and (max-width: 700px){
		   			padding-top: 100%;
		   		}
	   			@media screen and (max-width: 500px){
		   			padding-top: 50%;
		   		}
	   		}

	   		&.wide{
	   			width: 50%;

		   		@media screen and (max-width: 900px){
		   			width: 66%;
		   		}
		   		@media screen and (max-width: 700px){
		   			width: 100%;

		   			figure{
		   				padding-top: 50%;
		   			}
		   		}
	   		}

	   		&.tall{
	   			figure{
	   				padding-top: 150%;
		   			
		   			@media screen and (max-width: 700px){
			   			padding-top: 200%;
			   		}
		   			@media screen and (max-width: 500px){
			   			padding-top: 50%;
			   		}
	   			}
	   		}

	   		&.normal{
	   			width: 25%;

		   		@media screen and (max-width: 900px){
		   			width: 33%;
		   		}
		   		@media screen and (max-width: 700px){
		   			width: 50%;
		   		}
	   			@media screen and (max-width: 500px){
		   			width: 100%;
		   		}

	   			figure{
	   				padding-top: 100%;

		   			@media screen and (max-width: 500px){
			   			padding-top: 50%;
			   		}
	   			}
	   		}

	   		.meta{
	   			padding: 1em;

		   		.title{
		   			font-size: 1.125em;
		   			line-height: 1;
		   		}

		   		.cat{
		   			margin:0;
		   			line-height: 0.8;
		   		}   			
	   		}
		}//.item	
	}//#isotope

	.inner{
		padding: 0;
		background-color: black;
	}

	a{
		color: #fff;
		text-decoration: none;
	}

	.featured{
		width: 100%;
		padding: 20px;

		figure{
			padding-top: 30%;
			background-size: cover;
			background-position: center;
			@include transition(all,.3s);
   			
   			@media screen and (max-width: 700px){
	   				padding-top: 80%;
	   		}
		}

		.meta{
			padding: 1em 1em 1.3em 1em;

			.cat{
				margin:0;
				line-height: 0.5;
			}
		}

	}//featured

	#filters{
		padding: 0 20px;

		p{
			display: inline-block;
			text-transform: uppercase;
			letter-spacing: 2px;
		}

		button{
			font-size: 0.8em;
			@include garamond;
			text-transform: uppercase;
			letter-spacing: 2px;
			border: 1px solid #fff;
		}
	}//#filters
}

/* ==========================================================================
   SINGLE CEDRIC
   ========================================================================== */

#single-cedric{

	a{
		color: #A268BE;
		border-bottom: 1px dotted #503B5A;
		text-decoration: none;
		@include transition(all,.3s);

		&:hover{
			border-bottom: 1px dotted #A268BE;
		}
	}
	
	.hero.image{
		height: 500px;
	}

	.inner{
		width: 100%;
		max-width: 800px;
		margin: 0 auto;
		padding: 2em 0;

		.post-title{
			margin-top: 0;
			@extend .xlarge;
			font-weight: 300;
			text-align: center;
			text-transform: uppercase;
			line-height: 1;
			letter-spacing: 1px;
		}
	}

	article.single{
		margin-top: -200px;
		padding: 4em;
		color: #000;
		line-height: 1.7;
		background-color: #fff;
		@include single-box-shadow(0,5px,20px,8px,rgba(0,0,0,0.5));
	}
}

/* ==========================================================================
   RESERVATION
   ========================================================================== */

#reservation{

	.content-wrapper{ 
		.content{

			header{
				margin-bottom: 2em;
				border-bottom: 1px solid #fff;
			}

			.inner{
				padding: 0;
			}
		}
	}

	#reservation_widget{
		width:100%;
		height: 450px;
		border: none;

		.main_content_holder{
			background: #521A6D;
		}
	}	
}

/* ==========================================================================
   HISTORY
   ========================================================================== */

#history{
	.history-snippet{
		position: relative;
		padding:0 3em 3em;
		border-left: 1px solid #fff;

		&:first-of-type{
			margin-top: 2em;
		}

		&.end{
			border-left: none;
			text-align: center;

			.meta{
				color: #000;
				background-color:#fff;
			}
		}
	}

	.meta{
		position: absolute;
		top: 2.5em;
		left: -25px;
		width: 50px;
		height: 50px;
		color: #000;
		text-align: center;
		background-color: #fff;
		@include border-radius(50px);
		
		span{
			width: 100%;
			left:0;
			@extend .valign;
		}

		&:first-child{
			top: 0;
			color: #fff;
			background-color: #000;
		}
	}

	.body{
		p:first-child{
			margin-top: 0;
		}
	}
}

/* ==========================================================================
   TEAM
   ========================================================================== */

#team{

	.member{
		margin: 2em 0;
	}

	.member-name{
		margin: 0;
		@extend .med;
		@include playfair;
		line-height: 0.7;
		text-transform: uppercase;
	}

	.member-title{
		margin:0.2em 0;
		text-transform: uppercase;
	}
}

/* ==========================================================================
   CONTACT
   ========================================================================== */

#contact{
	position:relative;
	height: 100%;

	&.feedback-visible{
		.feedback-overlay{
			display: block;
			background-color: rgba(0, 0, 0, 0.4);
			z-index: 200;			
		}

		.feedback{
			top: 0;
			@extend .visible;				
		}
	}

	#map{
		position: relative;
		top:0;
		bottom:0;
		img{
			max-width: inherit;
		}

		@media screen and (max-width:1400px){
			height:500px;
			width: 100%;	
		}
	}
	
	.contact-info{
		height: 100%;
		z-index: 100;
		padding: 2em;
		color: #202020;
		font-size: 0.875em;
		background-color: #fff;

		header{
			h2{
				margin: 0;
			}
		}
		@media screen and (max-width:1400px){
			width: 100%;
		}
	}

	.opening{
		margin-top: 4em;
		.row{
			margin:0 -10px;
		}
		.column{
			padding:10px;

			@media screen and (max-width: 500px){
				width: 100%;
			}
		}
	}
	
	.feedback-overlay{
		display: none;
		position:absolute;
		top:0;
		left:0;
		width: 100%;
		height: 100%;
		@include transition(all,.3s);
	}// .feedback-overlay

	.feedback{
		position: absolute;
		top:-5em;
		left: 25%;
		z-index: 200;
		width: 50%;
		margin: 0 auto;
		padding: 2em;
		background-color: #202020;
		@extend .invisible;
		@include transition(all,.3s);

		@media screen and (max-width: 1000px){
			width: 75%;
			left: 12.5%;
		}

		>button{
			position: absolute;
			top:0;right:0;
			color: #fff;
		}
	}// .feedback

}