body{
	font-family: 'Helvetica Neue', HelveticaNeue, Helvetica, Arial, 'Lucida Grande', sans-serif;
}

h1,h2,h3,h4,h5,h6{
	margin:0;
}

.white{
	color: #fff;
}
.black{
	color: #333;
}

.small{
	font-size: 0.75em;
}
.medium{
	font-size: 1.5em;
}
.large{
	font-size: 2em;
}
.xlarge{
	font-size: 3em;
}

.title{
	display: inline-block;
	margin: 0;
	@include garamond-bold;
	font-weight: normal;
	text-transform: uppercase;
	text-decoration: none;
	line-height: 1.2;
}

.highlight{
	display: inline-block;
	margin: 0 0 0.3em 0;
	padding: 0.3em 0.3em 0.1em;
	@extend .title;
	line-height: 1;
	background-color: rgba(#000, 0.45);
	// box-shadow: 0.3em 0 0 rgba(#000, 0.45), -0.3em 0 0 rgba(#000, 0.45);
	@include transition(all,.3s);
}

