body{
	font-size: 13px;
	font-family: 'Helvetica Neue', HelveticaNeue, Helvetica, Arial, 'Lucida Grande', sans-serif;
}
.white{
	color: #fff;
}
.black{
	color: #333;
}

.small{
	font-size: 0.75em;
}
.medium{
	font-size: 1.5em;
}
.large{
	font-size: 2em;
}
.xlarge{
	font-size: 3em;
}

.title{
	display: inline-block;
	margin: 0;
	@include garamond-bold;
	font-weight: normal;
	text-transform: uppercase;
	text-decoration: none;
}

